{% extends "base.html" %}

{% block body %}
<br>
<div class="text-center">
	<h1> Sign In Form </h1>
</div>
<br>
<br>
<form action="/signin/" method="POST">
{% csrf_token %}
	<div class="text-center">
		<div class="form-group">
			<input type="text" class="form-control" name="username" placeholder="Username">
		</div>
		
		<div class="form-group">
			<input type="password" class="form-control" name="password" placeholder="Password">
		</div>

		<button type="submit" class="btn btn-primary">Signin</button>
	</div>
</form>

{% endblock %}